* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: white;
    cursor: default;
}

html {
    scroll-behavior: smooth;
}

:root {
    --putty: #e6ccb5;
    --warm-grey: #baa896;
    --honeysuckle: #fcc875;
    --faded-roses: #e38b75;
}