nav {
    background-color: var(--warm-grey);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 100%;
    position: fixed;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    margin-bottom: 0;
}
nav li {
    height: 60px;
}
nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eaeaea;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5vw;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    margin: 0 2vw 0 0.5rem;
}
.menu i {
    display: flex;
    align-items: center;
    color: #eaeaea;
    padding: 0.5rem;
    font-size: 1.5vw;
    height: 100%;
    cursor: pointer;
    margin: 0 2vw 0 0.5rem;
}
nav a:hover {
    text-decoration: underline;
}
nav li:first-child {
    margin-right: auto;
}
.logo a {
    font-size: 2vw;
}
.logo a:hover, .menu a:hover, .close a:hover {
    text-decoration: none;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    padding: 0;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
    color: var(--warm-grey);
}
.close i {

}
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}